SCOPE="openid offline_access"
PROVIDER_CLIENT_ID="xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
PROVIDER_CLIENT_SECRET="xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-Kh"
PROVIDER_ISSUER="https://xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.apse1.login.affinidi.io"

#Issuance and Iota Configuration

PUBLIC_HOST="http://localhost:3000"
PUBLIC_VAULT_URL="https://vault.affinidi.com/claim?credential_offer_uri="
PUBLIC_INTEROPERABLE_VAULT_URL="openid-credential-offer://?credential_offer_uri="
PUBLIC_WALT_ID_URL="openid-credential-offer://xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.apse1.issuance.affinidi.io/?credential_offer_uri="
PUBLIC_CREDENTIAL_TYPE_ID="personal Info"

API_GATEWAY_URL="https://apse1.api.affinidi.io"
TOKEN_ENDPOINT="https://apse1.auth.developer.affinidi.io/auth/oauth2/token"
PROJECT_ID="xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
KEY_ID="xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
TOKEN_ID="xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
PASSPHRASE="my-secret-passphrase"
PRIVATE_KEY="-xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxxn"
PUBLIC_KEY="xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

SKIP_VERIFICATION=false